@tailwind base;
@tailwind components;
@tailwind utilities;

[data-content-type="text"] {
  @apply prose prose-neutral dark:prose-invert;
}

[data-content-type="heading"] {
}

.action.primary {
  @apply bg-blue-500 text-white hover:bg-blue-600 focus:ring-blue-500 focus:ring-offset-blue-200 active:bg-blue-600 disabled:opacity-50 px-4 py-2 rounded transition-colors;
}

a.action.primary,
a.action.secondary {
  @apply inline-block;
}
